extend layout
block content    
    a.w3-button.myGreenBtn.w3-large.w3-round-xxlarge.w3-margin-left.w3-left(href='/user#exercise')  Back  
    form.w3-margin-right.w3-right(method="GET" action="/user/list")
        input.w3-input.myGreenBtn.w3-round-xxlarge.w3-large(type='text' name='filter' placeholder="Search")
        input(type="submit" style="position: absolute; left: -9999px" tabindex="-1")   
    h1.w3-center.w3-section.myGreen 
    .w3-row.w3-section.w3-center
        each ex in exercise
            - var exId = ex._id     
            .w3-third.w3-container.w3-section
                a.w3-btn.w3-card-2.w3-margin.w3-border.myGreenBtn.w3-block(href='/user/exercise?exId='+exId)
                    header.w3-container
                        h2                            
                            span #{ex.topic} 
                            each done in user.completed
                                if done == ex._id
                                    img.w3-margin-right(src='/images/done.png' alt='Avatar' style='width:20px; display:inline;')
                    .w3-container         
                        p.w3-left-align.description #{ex.content}
                        br                          
                        br
                        br
    
